.container {
    display:flex;
    width:100%;
    max-width:880px;
    justify-content:space-around;
}


.charWrapper {
    display:flex;
    flex-direction:column;
    width:46%;
    align-items:center;
}

#villanCard, #heroCard {
    width:90%;
    height:300px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    
}
#heroCard {  
    background:blue;
}
#villanCard {
    background:red;
}

#heroCard img, #villanCard img {
    width:100%;
}
.hidden {
    display:none;
}

.show {
    display:flex;
}